<h1>Dashboard</h1>

<div class="list-group">
  {{#each devices}}
    <a href="/device/{{_id}}" class="list-group-item">
      {{label}}

      {{#if online}}
        <span class="label label-success">Online</span>
      {{else}}
        <span class="label label-danger">Offline</span>
      {{/if}}
    </a>
  {{/each}}
</div>
