<h1>{{device.label}}</h1>
<h2>Latest data</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sensor</th>
        <th>Value</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{sensor}}</td>
          <td>{{value}}</td>
          <td>{{convert_unix date "MMMM Do YYYY, HH:MM"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
